body {
    background-color: aqua;
}

h1{
    text-align: center;
    color: red;
   text-shadow: 2px 2px 5px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2{
    text-align: left;
    color: red;
   text-shadow: 2px 2px 5px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}