html{
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
body{
    background-color: gray;
    /*text-align: center;*/
}


img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity:1;
    margin-bottom: 60px;
}

.borderImg{
   border-radius: 10px;
   width: 200px;
   height: 200px;
   border: 2px solid black;
   padding: 5px;
}
button{
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 10px 20px 40px 60px;
}
