html{
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
body{
    background-color: yellow;
   /* text-align: center;*/
}


img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity:1;
    display: block;
    margin: auto;
}

.borderImg{
   border-radius: 10px;
   width: 500px;
   height: 500px;
   border: 2px solid black;
   padding: 5px;
}



